.blockTable {
    margin-top: 60px;
    height: 85vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

.headerCardsPack {
    width: 100%;
    padding: 0 10px;
    height: 130px;
    display: grid;
    grid-template-areas:
    "title . button"
    "search change slider";
    grid-template-rows: 80px 70px;
    grid-template-columns: 1.5fr 1fr 1fr;
}
.headerCardsTable {
    padding: 10px 10px;
}
.titleEmptyCards {
   text-align: center;
    margin-top: 80px;
}
.titleHeaderCP {
    grid-area: title;
    margin-top: 10px;
}

.blockBtnAddCP {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnAddCP {
    width: 180px;
    height: 30px;
}

.searchCardsPack {
    grid-area: search;
}

.changeCardsPack {
    grid-area: change;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sliderCardsPack {
    grid-area: slider;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleSliderCardsPack {
    align-self: center;
}

.btnCardsPack {
    width: 40%;
    height: 40px;
}

.headerCardsTable {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxPagination {
    display: flex;
    width: 40%;
}
@media screen and (max-width: 850px) {
    .boxPagination {
        visibility: hidden;
    }
}

@media screen and (max-width: 800px) {
    .blockTable {
        height: 85vh;
    }
    .headerCardsPack {
        height: 170px;
        grid-template-areas:
    "title title"
    "search button"
    "change slider";
        grid-template-rows: 50px 50px 50px;
        grid-template-columns: 1fr 1fr;
    }
    .sliderCardsPack {
        padding: 20px 0 0 30px;
    }
    .changeCardsPack {
        padding-left: 0;
        padding-top: 5px;
    }
    .titleSliderCardsPack {
        visibility: hidden;
    }
    .btnCardsPack {
        width: 30%;
        height: 37px;
    }
    .blockBtnAddCP {
        justify-content: flex-end;
    }
    .table {
        height: 500px;
    }
}